name: Android Build
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'
          
      - name: Fix Project and Dependencies
        run: |
          # 1. Protege nossa pasta 'lib'
          mv lib lib_backup
          # 2. Reconstrói a estrutura nativa
          flutter create . --overwrite --platforms=android
          # 3. Restaura nossa 'lib'
          rm -rf lib
          mv lib_backup lib
          # 4. Reinstala TODAS as bibliotecas necessárias
          flutter pub add intl shared_preferences url_launcher image_picker
          
      - name: Build APK
        run: flutter build apk --release
        
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk
